body
{
	background-color:firebrick;
}
#div4 .link{
	color:red;
}

#div1
{
	margin-left:10%;
	width:25%;
	color:white;
}
#div2
{
	margin-top:-10%;
	margin-left:65%;
	width:25%;
	font-size:20px;
	text-align:right;
	color:white;
}
#div3
{
	margin-top:6%;
	margin-left:10%;
	background-color:black;
	width:80%;
	height:50px;
}
#div3 .nc1:hover
{
	background-color:white;
	color:black;
}
#div3 .nc1
{
	text-decoration:none;
	float:left;
	color:white;
	padding:15px;
}
#div3 .nc
{
	background-color:white;
	color:black;
	text-decoration:none;
	float:left;
	padding:15px;
}
#div4 .imagess
{
	width:30%;
	height:250px;
	padding:60px;
	float:left;
}
#div4 .images
{
	width:20%;
	height:250px;
	padding:25px;
	float:left;
}
#div4 h3
{
	text-align:center;
}
#div4
{
	padding-top:20px;
	margin-left:10%;
	margin-right:10%;
	background-color:white;
}
#divv{

	margin-left:50%;
	margin-right:10%;
	background-color:white;
	border: 2px solid blue;
}
#div5
{
	background-color:white;
	padding:20px;
	margin-top:20%;
	width:85.7%;
}	
#div5 .a1
{
	width:50%;
}
#div5 .video1
{
	width:50%;
	margin-right:-100px;
	float:right;
	border-radius:30px;
	margin-top:-350px;
	height:280px;
}
#div4 .table1, td
{
	background-color:#ff80df;
	border:1px solid black;
}
#div4 .table1, th
{
	background-color:skyblue;
	border:1px solid black;
}
#div4 .table1, td, a
{
	text-decoration:none;
	color:black;
}
#div4 .table2, td
{
	border:none;
	background-color:white;
}
#div5 .map{
	
	margin-top:-150px;
}